<div class="row">
  <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto mt-5">
    <div class="card">
      <div class="card-body m-3">
        <h2 class="text-center">Registrarse</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="form-group">
            <label class="form-label mt-4" for="name">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              formControlName="name"
              mminlength="3"
              required
            />
            <span
              *ngIf="registerForm.touched&& registerForm.controls['name'].errors"
              class="text-danger"
              >Ingrese su nombre</span
            >
          </div>
          <div class="form-group">
            <label class="form-label mt-4" for="lastname">Apellido</label>
            <input
              type="text"
              class="form-control"
              name="lastname"
              id="lastname"
              formControlName="lastname"
              minlength="3"
              required
            />
            <span
              *ngIf="registerForm.touched&& registerForm.controls['lastname'].errors"
              class="text-danger"
              >Ingrese su apellido</span
            >
          </div>
          <div class="form-group">
            <label class="form-label mt-4" for="email">Correo</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              formControlName="email"
              required
              email
            />
            <span
              *ngIf="registerForm.touched&& registerForm.controls['email'].errors"
              class="text-danger"
              >Ingrese un correo valido</span
            >
          </div>
          <div class="form-group">
            <label class="form-label mt-4" for="password">Contraseña</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              formControlName="password"
              minlength="4"
              required
            />
            <span
              *ngIf="registerForm.touched&& registerForm.controls['password'].errors"
              class="text-danger"
              >La contraseña debe tener minimo 6 caracteres</span
            >
          </div>
          <div class="form-text m-3 text-end">
            <small
              >¿Ya tienes cuenta?
              <a [routerLink]="['/login']">Inicia sesión</a></small
            >
          </div>
          <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Registrarse
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
