<app-navbar></app-navbar>
<div class="container">
  <div class="m-3">
    <h1>Hola {{ user }}</h1>
  </div>
  <div *ngIf="loader">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!loader">
    <div *ngFor="let blog of blogs; let i = index" class="card mb-3">
      <h3 class="card-header">{{ blog.title }}</h3>
      <div class="card-body m-2 card-over-flow" style="overflow: auto;">
        <h5 class="card-title">{{ blog.author }}</h5>
        <h6 class="card-subtitle text-muted">{{ blog.tile_categorie }}</h6>
        <div class="card-text mt-3 lh-sm" [innerHTML]="blog.body"></div>
      </div>
      <div class="card-body overflow-auto">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <div class="card-footer text-muted">
        {{ blog.update_date | date: "MM/dd/yyyy '-' h:m ma" }}
      </div>
    </div>
  </div>
</div>
